.top {
    background-image: url(utyuu.jpg);
    background-size: cover;
    text-align:center;
  }
.font1{
    font-family: odorobo;
    color: rgb(0, 0, 56);
}
.target-element{
    user-select: none;
}
h1{
    font-size: 80px;
}
.cursor{
    cursor: default;
}